nav ul {
  list-style: none;
}

nav ul li {
  display: flex;
}

nav ul a {
  text-transform: none;
  text-decoration: none;
  color: black;
}

nav ul li a {
  text-transform: none;
  text-decoration: none;
  color: black;
}

section slider {

}
